APP_DEBUG=false
MAIL_TO_ADDRESS=nashmiroad@gmail.com
MAIL_FROM_ADDRESS=noreply@nashmi-road.com
MAIL_FROM_NAME=Nashmi Website
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
